In [2]:
myvar = 3

In [3]:
print(myvar)

3

In [4]:
myvar += 2

In [5]:
print(myvar)

5

In [6]:
myvar

5

In [7]:
myvar -= 1

In [8]:
myvar

4

In [9]:
"""This is a multiline comment.
The following lines concatenate the two strings."""
mystring = "Hello"
mystring += " world."
print(mystring)

Hello world.

In [10]:
myvar, mystring = mystring, myvar

In [11]:
myvar

'Hello world.'

In [12]:
mystring

4

In [13]:
sample = [1, ["another", "list"], ("a", "tuple")]
mylist = ["List item 1", 2, 3.14]
mylist[0] = "List item 1 again" # We're changing the item.
mylist[-1] = 3.21 # Here, we refer to the last item.
mydict = {"Key 1": "Value 1", 2: 3, "pi": 3.14}
mydict["pi"] = 3.15 # This is how you change dictionary values.
mytuple = (1, 2, 3)
myfunction = len
print(myfunction(mylist))

3

In [14]:
mylist

['List item 1 again', 2, 3.21]

In [15]:
sample

[1, ['another', 'list'], ('a', 'tuple')]

In [16]:
mylist = ["List item 1", 2, 3.14]

In [17]:
print(mylist[-3:-1])

['List item 1', 2]

In [18]:
print(mylist[-3:1])

['List item 1']

In [20]:


# WARNING: Watch out for the trailing s in "%(key)s".

In [21]:
print(range(10))

range(0, 10)

In [22]:
fib = lambda x : 1 if x <= 2 else fib(x - 1) + fib(x - 2)
fib(31)

1346269

In [25]:
11111 * 1111111

12345554321

In [26]:
2014 ** 14

18064773765607550801425251468864907833685590016

In [27]:
0.3 + 0.3+0.3

0.8999999999999999

In [28]:
1.2345e-3

0.0012345

In [29]:
2014.0 ** 14

1.806477376560755e+46

In [30]:
7 / 3

2.3333333333333335

In [31]:
7 // 3

2

In [32]:
int(2.99)

2

In [33]:
int(-1.6)

-1

In [34]:
9**19 - int(float(9**19))

89

In [35]:
type(7)

int

In [36]:
512 % 8

0

In [37]:
512 % 60

32

In [38]:
x = 5
y = 10
y > x * x or y >= 2 * x and x < y

True

In [39]:
a = True
b = False
a and b or not a and not b

False

In [40]:
i = 0
while i < 5:
    print('*')
    if i % 2 == 0:
        print('**')
    if i > 2:
        print('***')
    i = i + 1

*
**
*
*
**
*
***
*
**
***

In [41]:
a, b = input().split()

2 3

In [49]:
i = 0
s = 0
while i < 10:
    i = i + 1
    s = s + i
    if s > 15:
        continue
    i = i + 1
print(i)

10

In [50]:
import pandas as pd

In [51]:
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

   Yes   No
0   50  131
1   21    2

In [56]:
dd = pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])

In [53]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [54]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

In [57]:
dd.Bob.describe()

count               2
unique              2
top       I liked it.
freq                1
Name: Bob, dtype: object